{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>
          <a href="/{{ link }}">{{ title }}</a>
        </h2>
        <small>
          {% for tag in tags %}
            <a href="/tag/{{ tag }}/">#{{ tag }}</a>
          {% endfor %}
        </small>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ content }}
      </div>
    </div>
  </div>

{% endblock %}
